@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.welcome {
  width: 100vw;
  height: 100vh;
  background: #219ebc;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  color: #023047;
  font-weight: bolder;
  font-size: xx-large;
  transition: all ease-in-out 0.5s;
}

.welcome-slide {
  transform: translateY(100vh);
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #023047;
  gap: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  text-align: center;
  width: fit-content;
}

.header h1 {
  font-size: xx-large;
  color: #219ebc;
  margin: 10px 0;
}

.status_bar {
  margin: 0 auto;
  width: 100%;
  padding: 0.4rem 1.2rem;
  border-radius: 20px 20px 0 0;
  font-weight: bolder;
  background-color: #219ebc;
  color: #023047;
}

.status_bar_highlight {
  text-transform: uppercase;
}

.X {
  color: #fff05a;
}

.O {
  color: #fb8500;
}

.restart_btn-container {
  margin: 0 auto;
  width: fit-content;
  padding: 5px 38px;
  border-radius: 0 0 20px 20px;
  font-weight: bolder;
  background-color: #219ebc;
  color: #023047;
}

.cell {
  width: 33.3%;
  height: auto;
  border: 3px solid #219ebc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -1.5px;
  overflow: hidden;
  font-weight: bolder;
  font-size: 60px;
  text-transform: uppercase;
  line-height: 0;
  margin-block: 0;
}

.cell:hover {
  cursor: pointer;
}

.cell-win {
  background-color: #c81d25;
}

.restart_btn {
  border: none;
  background: none;
  transform: translate(0deg);
  color: #023047;
  transition: all 0.1s ease-in-out;
}

.restart_btn:hover {
  cursor: pointer;
  transform: scale(0.95);
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
  height: 300px;
}

.hidden {
  opacity: 0;
  display: none;
}

.rotate {
  color: #1e768c;
  transform: rotate(-180deg);
}
